<h1>
  {{title}}
</h1>

<h1>Components</h1>

<app-otro>Primera utilización</app-otro>

<app-otro>Segunda utilización</app-otro>

<h1>Bindings</h1>

<app-interpolation>Loading...</app-interpolation>

<app-property-binding>Loading...</app-property-binding>

<app-custom-properties [result]="77"> Loading...</app-custom-properties>

<app-event-binding> Loading...</app-event-binding>

<app-custom-events (presionado)="methodInAppComponent($event)"> Loading...</app-custom-events>

<app-two-way-binding>Loading...</app-two-way-binding>

<app-life-cycle>Loading...</app-life-cycle>

<app-directives></app-directives>
