<h1>{{title}}</h1>

<hr>

<h1>Components</h1>

<app-otro>Primera utilización</app-otro>

<app-otro>Segunda utilización</app-otro>

<hr>

<h1>Bindings</h1>

<app-interpolation>Loading...</app-interpolation>

<app-property-binding>Loading...</app-property-binding>

<app-custom-properties [result]="77"> Loading...</app-custom-properties>

<app-event-binding> Loading...</app-event-binding>

<app-custom-events (presionado)="methodInAppComponent($event)">
Loading...</app-custom-events>

<app-two-way-binding>Loading...</app-two-way-binding>

<app-life-cycle>Loading...</app-life-cycle>

<app-directives></app-directives>

<hr>

<si-service></si-service>

<hr>

<h1>Routing</h1>

<div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	<a [routerLink]="['']" [queryParams]="{analytics: 500}">Home</a>
</div>

<input type="text" #id (input)="0">
<a [routerLink]="['user', id.value]" [preserveQueryParams]="true"
	routerLinkActive="active">User</a>

<router-outlet></router-outlet>

<hr>

<h1>Forms</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<template-driven></template-driven>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<data-driven></data-driven>
	</div>
</div>
<hr>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>